{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
	<div class="col-md-12">
		<div class="d-flex flex-row align-items-center justify-content-between">
			<h1 class="fw-bold">Employee</h1>
			<a href="{% url 'register' %}" class="btn btn-primary text-light">New Employee</a>
		</div>
		<div class="row px-2 py-4">
		   <div class="card py-2 border border-end-0 border-start-0 border-bottom-0 border-primary border-3 shadow">
			<table class='table table-striped' style="width:100%">
				<thead class='bg-light'>
					<tr>
						<th scope='col'>Name</th>
						<th scope='col'>Birthdate</th>
						<th scope='col'>E-Mail</th>
						<th scope='col'>Mobile No</th>
						<th scope='col'>Status</th>
					</tr>
				</thead>
				<tbody>
					{% for obj in list %}
						<tr>
							<td><a href="{% url 'detail' obj.id %}" class="text-decoration-none">{{ obj.first_name }}{{ obj.last_name }}</a></td>
							<td>{{ obj.birthdate|date:"M d, Y" }}</td>
							<td>{{ obj.email }}</td>
							<td>{{ obj.mobile_no }}</td>
							<td>{{ obj.employment.emp_status }}</td>
						</tr>
					{% empty %}
						<tr>
							<td colspan="5">No data</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		   </div>
		</div>
	</div>
</div>
{% endblock %}