<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>HRDRS PORTAL</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-gradient-primary px-4">
        <div class="container-fluid">
        
        </div>
      </nav>
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">WELCOME TO HRDRS PORTAL</h1>
          <p class="col-md-8 fs-4 pb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore nostrum minus alias culpa velit quae blanditiis, repellendus quod. Distinctio at omnis nulla ipsum ipsam dolor obcaecati rerum et aliquam aut.</p>
          <a href="login.html" class="btn btn-lg bg-gradient-primary text-white" type="button">LOGIN</a>
        </div>
      </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</html>